.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    border-radius: 6px;
    padding: 16px 40px;
    border: none;
    box-sizing: border-box;
    color: white;
    align-self: center;
    background-color: orangered;
  }
}
